@import "variables";
@import "mixin";

html{
    font-size: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    line-height: 1;
    font-family: 'Josefin Sans', sans-serif;
    
}

*, *::before, *::after { 
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: $desaturatedRed;
    
}

.page{
    display: flex;
    height: 100vh;
    width: 100%;
    
    &__image{
        flex: 1;
        min-width: 400px;
        height: 100%;
        background-image: url(hero-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__text{
        width:830px;
        background-image: url(bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 165px;
        padding-top: 65px;
        &__logo{
            margin-bottom: 135px;
        }
        h1{
            font-weight: 300;
            font-size: 60px;
            margin-right: 280px;
            text-transform: uppercase;
            letter-spacing: 15px;
            margin-bottom: 30px;
            strong{
                color: $darkGrayishRed;
                font-weight: 600;
            }
        }
        &__description{
            line-height: 1.4;
            margin-right: 225px;
            margin-bottom: 47px;
        }
        &__form{
            
            display: flex;
            align-items: center;
            position: relative;

            input{
                height: 56px;
                //background: transparent;
                border-radius: 26px;
                border: solid 1px $desaturatedRed;
                width: 446px;
                padding-left: 10px;
                color: $desaturatedRed;
                
                &:focus{
                    outline: none;
                    border: solid 2px $softRed;
                    color: black;
                }
            }
            .error_icon{
                position: relative;
                left: -100px;
                z-index: 1;
                background-image: url(icon-error.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                min-height: 24px;
                min-width: 24px;
                visibility: hidden;
                
            }
            .button{
                position: relative;
                background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
                height: 56px;
                width: 101px;
                border-radius: 27px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                left: -91px;
                &__arrow{
                    background-image: url(/icon-arrow.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 20px;
                    width: 15px;
                }
                &:hover{
                    cursor: pointer;
                    background: $linear1, $linear2;
                }
            }
        }
        .validation_message{
            visibility: hidden;
        }
        .visible{
            visibility: visible;
        }
    }
}
.animation{
    transition: all 500ms ease-in-out;
    transform: rotate(360deg);
}

.visible{
    visibility: visible;
}

.valid{
    color: green;
}
.invalid{
    color: red;
}